/* impostazioni di reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background:#7A6563 ;
}
/* header  */
header {
  height: 10vh;
  background-color:#E5D4CE ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}
button{
  background-color: #DE6E4B;
  border-radius: 50%;
  padding: .6rem;
  border: none;
}
#level{
  border: none;
  background-color: transparent;
  color: #DE6E4B;
}
/* impostazioni main */
main {
  height: calc(100vh - 160px);
  width: 1000px;
  margin: 2rem auto;
}

.container {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
/* footer */
footer {
  height: 5vh;
  text-align: center;
  background-color: #E5D4CE;
  color: #DE6E4B;
}




.cell {
  border: 1px solid #DE6E4B;
  background-color: #E5D4CE;
  display: flex;
  justify-content: center;
  align-items: center;
}